/* Ensure images do not overflow their container */
img {
    max-width: 100%;
    height: auto;
}


/* Additional specific fixes for any known problematic elements */
.main-handler, .below-flat-list, .post, .labell, .resp-space, .sample-1, .sample-2, .post-site, .post-text {
padding: 0;
margin: 0;
box-sizing: border-box;
}
  


.nav-sub{
    display: flex;
    background-color: #ffffff !important;
    position: sticky;
    top: 58px;
    z-index: 10;
}

.main-handler{
    width: 100% !important;
    display: flex !important;
    justify-content: space-between !important;
    height: 60px;    
    border-bottom: 2px solid #E0E0E0;
}

.flat-list{
    display: flex !important;
    justify-content: start !important;
    align-items: center !important;
    margin: 0;
    padding: 0;
    height: 100% !important;
}

.flat-list > li{
    height: 100%;
    list-style-type: none !important;
    display: flex !important;
    align-items: center !important;
    margin-right: 20px;
    cursor: pointer;
}

.below-flat-list{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.active{
    font-weight: bold;
    border-bottom: 2px solid black;
}

#cust-btn{
    border: none;
    outline: none;
    padding: 8px;
    width: 133px;
    border-radius: 4px;
    background-color: #EDEEF0 !important;
}

.post{
    border: 1px solid #E0E0E0;
}

.post-text{
    color: #5C5C5C;
    font-size: 19px;
}

.post-site{
    display: flex;
    justify-content: center;
    border: 1px solid #A9AEB8;
    height: 40px;
    border-radius: 10px;
} 

.button-folow{
    border: none;
    outline: none;
    border-radius: 14px;
    padding: 5px 15px;
    background-color: #EDEEF0;
}

.leave-group{
    border: 1px solid #989899;
    color: #6A6A6B;
    outline: none;
    border-radius: 4px;
    padding: 5px 15px;
    background-color: white;
}

.leave-group:hover{
    border: 1px solid #989899 !important;
    background-color: white !important;
    color: #6A6A6B !important;
}

@media screen and (max-width: 1024px){
    .nav-sub{
        top: 58px;
    }
    .main-handler{
        height: 60px;
    }
    .flat-list > li{
        margin-right: 10px;
    }
    .post-text{
        font-size: 14px;
    }
    .post-site{
        height: 30px;
    }
    .button-folow{
        padding: 5px 10px;
    }
    .leave-group{
        padding: 5px 10px;
    }   

    .head_text{
        font-size: 14px;
    }
    .ipads-recom-h1{
        font-size: 12px;
    }

    .ipad-image-above-h1{
        text-align: justify !important;
        font-size: 12px !important;
    }

    .ipad-folow-img{
        width: 20px;
        height: 20px;
    }

    .ipad-folow-p{
        font-size: 11px !important;
    }

    .button-folow{
        padding: 2px 5px;
        font-size: 10px !important;
    }
}

@media screen and (max-width: 768px){
    .nav-sub{
        position: relative;
        top: 0;
    }
    .main-handler{
        border-bottom: none;
    }
    .post{
        box-shadow: 0px 0px 10px 0px #E0E0E0;
        width: 100%;
    }

    .flat-list > li{
        margin-right: 0;
    }

    .labell{
        font-size: 12px;
    }

    .resp-spac{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 10px 0;
    }

    .sample-1{
        width: 80%;
    }

    .sample-2{
        width: 20%;
    }

    .head_text{
        font-size: 14px;
    }

    .post-text{
        font-size: 12px;
    }
    .logo-img-siz{
        width: 10px;
        height: 10px;
    }

    .person-post-img{
        width: 30px;
        height: 30px;
    }

    .person-name{
        font-size: 12px;
    }
}
